{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Toptal Todo Tackler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/3.0.2/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/3.0.2/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
  </head>
  <body>
    {% block body %}
      {% block header %}
        {# Note: the use of blocks to determine active nav elements #}
        {# precludes this div from being comfortably extracted to an included file. #}
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand">
                Toptal Todo Tackler
              </span>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                  <li class="{% block navclass-todolist %}{% endblock %}"><a href="{% url 'todo:index' %}">Todo List</a></li>
                {% else %}
                  <li class="{% block navclass-about %}{% endblock %}"><a href="{% url 'index' %}`">About</a></li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous %}
                  <li class="{% block navclass-signup %}{% endblock %}"><a href="{% url 'account_signup' %}">Sign Up</a></li>
                  <li class="{% block navclass-signin %}{% endblock %}"><a href="{% url 'account_login' %}">Sign In</a></li>
                {% else %}
                  <li class="navbar-text">Hello, {{ user.username }}!</li>
                  <li class="{% block navclass-profile %}{% endblock %}"><a href="{% url 'account_profile' %}">Profile</a></li>
                  <li class="{% block navclass-signout %}{% endblock %}"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endblock %}
      <div class="container">
        {% block content %}
          Content block.
        {% endblock %}
      </div>
    {% endblock %}

    <!-- third party -->
    <script type="text/javascript" src="{% static 'vendor/jquery/1.10.2/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/3.0.2/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/knockout/3.0.0/knockout.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/pubsubjs/1.4.0/pubsub.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/underscore/1.5.0/underscore-min.js' %}"></script>

    <!-- T3 project -->
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

  </body>
</html>
