{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Toptal Todo Tackler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/3.0.2/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/3.0.2/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
  </head>
  <body>
    <div class="container">
      {% block body %}
        {% block header %}
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <li><a href="#">Sign In</a></li>
            </ul>
            <h3 class="text-muted">Toptal Todo Tackler</h3>
            <div class="clearfix"></div>
          </div>
        {% endblock %}
        {% block content %}
          Content block.
        {% endblock %}
      {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static 'vendor/jquery/1.10.2/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'vendor/bootstrap/3.0.2/js/bootstrap.min.js' %}"></script>
    <!-- T3 project -->
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
  </body>
</html>
