{% extends 'base.html' %}
{% load static %}

{% block navclass-todolist %}
active
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/2013-11-21-4e03b4cb9f/datepicker3.css' %}"/>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'vendor/JSON/2013-05-26/json2.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/knockout/3.0.0/knockout.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/pubsubjs/1.4.0/pubsub.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/underscore/1.5.0/underscore-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/2013-11-21-4e03b4cb9f/datepicker3.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/bindinghandlers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/project.js' %}"></script>

  <script type="text/javascript">
    var todoListViewModel = new t3.views.todo.List();
    ko.applyBindings(todoListViewModel);

    // let user add items right away
    $('#text').focus();

    // grab existing items from the server
    $.getJSON('/api/items/', function (data) {
      _(data).each(function (item) {
        PubSub.publishSync(t3.topics.item.added, item);
      });
    });
  </script>
{% endblock %}

{% block content %}

  <table class="table table-condensed">

    <thead>
      <tr>
        <th style="width: 2em">&nbsp;<!-- completed --></th>
        <th>&nbsp;<!-- text --></th>
        <th style="width: 5em">Priority</th>
        <th style="width: 10em">Due</th>
        <th style="width: 1em">&nbsp;<!-- delete --></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>
          <form data-bind="submit: addNewItem">
            <input type="text" class="form-control input-sm"
                   placeholder="Enter a new todo item and press Enter"
                   data-bind="value: newItemText, valueUpdate: 'afterkeydown'" />
          </form>
        </td>
      </tr>
      <!-- ko foreach: items -->
        <tr class="todo-item" data-bind="css: { completed: completed }">
          <td class="todo-checkbox">
            <input type="checkbox" data-bind="checked: completed, attr: { id: id }"/>
          </td>

          <!-- ##### text ##### -->
          
          <!-- ko ifnot: editors.text.isActive -->
            <td class="todo-text" data-bind="click: editors.text.edit">
              <span data-bind="text: text"></span>
            </td>
          <!-- /ko -->
          <!-- ko if: editors.text.isActive -->
            <td class="todo-text">
              <form data-bind="submit: editors.text.save">
                <input type="text" class="form-control input-sm"
                       data-bind="hasFocus: editors.text.isActive,
                                  value: editors.text.newValue,
                                  valueUpdate: 'afterkeydown',
                                  escPress: editors.text.cancel,
                                  event: {blur: editors.text.save}" />
              </form>
            </td>
          <!-- /ko -->

          <!-- ##### priority ##### -->
          
          <!-- ko ifnot: editors.priority.isActive -->
            <td class="todo-priority" data-bind="click: editors.priority.edit">
              <span data-bind="text: priority"></span>
            </td>
          <!-- /ko -->
          <!-- ko if: editors.priority.isActive -->
            <td class="todo-priority">
              <form data-bind="submit: editors.priority.save">
                <div class="input-group" style="width: 100%">
                  <select class="form-control input-sm"
                          data-bind="hasFocus: editors.priority.isActive,
                                     value: editors.priority.newValue,
                                     escPress: editors.priority.cancel,
                                     event: {change: editors.priority.save,
                                             blur: editors.priority.save}">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </form>
            </td>
          <!-- /ko -->

          <!-- ##### due_date ##### -->
          
          <!-- ko ifnot: editors.due_date.isActive -->
            <td class="todo-duedate" data-bind="click: editors.due_date.edit">
              <!-- ko if: due_date -->
                <span data-bind="text: due_date"></span>
              <!-- /ko -->
              <!-- ko ifnot: due_date -->
                <span>--</span>
              <!-- /ko -->
            </td>
          <!-- /ko -->
          <!-- ko if: editors.due_date.isActive -->
            <td class="todo-duedate">
              <form data-bind="submit: editors.due_date.save">
                <input type="text" class="form-control input-sm"
                       data-provide="datepicker"
                       data-date-format="yyyy-mm-dd"
                       data-date-autoclose="true"
                       data-date-clear-btn="true"
                       data-bind="hasFocus: editors.due_date.isActive,
                                  value: editors.due_date.newValue,
                                  valueUpdate: 'afterkeydown',
                                  escPress: editors.due_date.cancel,
                                  event: {hide: editors.due_date.save}" />
              </form>
            </td>
          <!-- /ko -->

          <td class="todo-delete">
            <i class="glyphicon glyphicon-trash" data-bind="click: remove"></i>
          </td>

        </tr>
      <!-- /ko -->
    </tbody>

  </table>

{% endblock %}